// @import url(https://fonts.googleapis.com/css?family=Open+Sans);
// @import url(https://fonts.googleapis.com/css?family=Raleway);

@font-face {
  font-family: "Fort";
  src: url("../fonts/Fort-Book.ttf");
  font-weight: normal; }

@font-face {
  font-family: "Fort";
  src: url("../fonts/Fort-Bold.otf");
  font-weight: 500; }

@font-face {
  font-family: "Freight";
  src: url("../fonts/FreightTextPro-Book.otf");
  font-weight: normal; }

@font-face {
  font-family: "Freight";
  src: url("../fonts/FreightTextPro-Bold.otf");
  font-weight: 500; }
