h1 {
  padding-bottom: 1.2em;
  margin: 0;
  font-size: 2.65em;
  font-weight: 400;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.85);
}
p {
  color: rgba(0, 0, 0, 0.85);
}

blockquote {
  margin: 0.6em auto;
  padding: 0;
}
ul li {
  padding: 0 1em 0.5em;
  margin-left: 1em;
  margin-right: 1em;
}
ul li h1 {
  padding: 0;
}
::selection {
  color: #fff;
  background-color: #0000ff;
}

p {
  margin: 0;
}

a {
  color: rgba(0, 0, 0, 0.85);
  text-decoration: none;

  &:hover, &:visited, &:active {
    color: rgba(0, 0, 0, 0.85);
    text-decoration: none;
  }
}

a {
  &[href^="http://"]:not([href*="danieleckler.com"]), &[href^="https://"]:not([href*="danieleckler.com"]) {
    cursor: url("../icons/pointright.png") 50 10, auto !important;
  }

  &[href*="danieleckler.com"], &[href*='mailto:'] {
    cursor: url("../icons/point.png"), auto;
  }

  &[href*="danieleckler.com"]:active, &[href*='mailto:']:active {
    cursor: url("../icons/grab.png"), auto;
  }
}

u {
  text-decoration: none;
  border-bottom: 0.07em solid;
}

h1 {
    padding-left: 0;
    padding-right: 0;
    font-family: 'Fort';
    margin-left: 30px;
    padding-bottom: 0;
    border-bottom: 0.07em solid black;
    cursor: url("../icons/point.png"), auto;
  }
