---
layout: default
title: Peter Humphrey
description: example description
body-class: home
---

<div class="index-section about-section padding">
  I&#8217;m an interactive designer / developer turned entrepreneur</span> specializing in digital product development.
</div>

<div class="index-section works-section">

  <div class="index-text padding">
    <p>My main gig is Digital Director @ <a href="#">Half Helix</a>, an interactive agency that creates + develops products for culture and commerce.</p>
  </div>

  <a href="#" class="images-wrap padding full-img">
    <div class="image-holder">
      <img src="https://unsplash.it/800/600" alt="">
      <div class="marquee-text marquee1">Half Helix</div>
    </div>
    <div class="caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</div>
  </a>

  <div class="index-text padding">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
      dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>

  <!-- Half Img -->
  <a href="#" class="images-wrap padding half">
    <div class="image-holder">
      <img src="https://unsplash.it/800/600" alt="">
      <div class="marquee-text marquee1 marqueehalf">lorem lorem</div>
    </div>
  </a>

  <a href="#" class="images-wrap padding half">
    <div class="image-holder">
      <img src="https://unsplash.it/800/600" alt="">
      <div class="marquee-text marquee1 marqueehalf">lorem lorem</div>
    </div>
  </a>

  <div class="index-text padding">
    <blockquote>
      <p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit,” &#8211; PSFK.</p>
    </blockquote>
  </div>

  <div class="index-text padding">
    <p>Prior to Half Helix, I founded, then sold <a>Antarctic</a>, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
  </div>

  <!-- Full Img -->
  <a href="#" class="images-wrap padding full-img">
    <div class="image-holder">
      <img src="https://unsplash.it/800/600" alt=" ">
      <div class="marquee-text marquee1 ">Antarctic</div>
    </div>
    <div class="caption ">Sold in 2015    (*＾▽＾)／</div>
  </a>

  <div class="index-text padding">
    <p>Over the years I've worked on many other prjects including: <a href="#">Xipsy</a>, <a href="#">OAKAZINE</a>, <a href="#">FagNet</a>, <a href="#">Condor</a>, <a href="#">Via Tribunali</a>, and <a href="#">Thing</a>.</p>
  </div>

  <!-- Half Img -->
  <a href="#" class="images-wrap half padding">
    <div class="image-holder">
      <img src="https://unsplash.it/800/600" alt=" ">
      <div class="marquee-text marquee1 marqueehalf ">Other Projects</div>
    </div>
  </a>

  <!-- Half Img -->
  <a href="#" class="images-wrap half padding">
    <div class="image-holder">
      <img src="https://unsplash.it/800/600" alt=" ">
      <div class="marquee-text marquee1 marqueehalf ">⊂((・▽・))⊃</div>
    </div>
  </a>

  <div class="index-text padding">
    <blockquote>
      <p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit,” &#8211; AdWeek.</p>
    </blockquote>
  </div>

  <div class="index-text padding">
    <p>I’ve dedicated my career to thinking about the intersection of technology + design. Above all, I build products that are thoughtful, intuative, and engaging.</p>
  </div>

  <div class="index-text padding">
    <p>Thanks for taking a look at me. If you have something interesting you would like to discuss or are want to work together, get at me below.</p>
  </div>

</div>

{% include links.html %}

<!-- {% include scroll.html %} -->
