---
layout: default
title: Peter Humphrey
description: example description
body-class: home
---

<div id="about" class="index-section about-section padding">
  I&#8217;m an interactive designer / developer turned entrepreneur</span> specializing in digital product development.
</div>

<div id="works" class="index-section works-section">

  <div class="index-text padding">
    <p>My primary gig is Digital Director @ <a href="#">Half Helix</a>, an interactive agency that creates + develops products for culture and commerce.</p>
  </div>

  <a href="#" class="images-wrap padding full-img">
    <div class="image-holder">
      <img src="../images/halfhelix-2.png" alt="">
      <div class="marquee-text marquee1">Half Helix</div>
    </div>
    <!-- <div class="caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</div> -->
  </a>

  <!-- <div class="index-text padding">
    <p>I'm also the co-foudner of <a href="#">Condor</a>, a online marketplace for independant retailers to sell their overstock and sale merchandise through seamless integrations for their exsisting eCommerce platforms.</p>
  </div>

  <a href="#" class="images-wrap padding full-img">
    <div class="image-holder">
      <img src="../images/condor-1.png" alt="">
      <div class="marquee-text marquee1">Shop Condor</div>
    </div>
    <div class="caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</div>
  </a> -->

  <!-- <div class="index-text padding">
    <blockquote>
      <p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit,” &#8211; Media.</p>
    </blockquote>
  </div> -->

  <div class="index-text padding">
    <p>Previously, I founded, then sold, <a href="#">Antarctic</a>, a digital agency centered around creating digital marketing campaigns for cause-based organizations.</p>
  </div>

  <!-- Full Img -->
  <!-- Half Img -->
  <a href="#" class="images-wrap half">
    <div class="image-holder padding">
      <img src="../images/antarctic-4.png" alt="">
      <div class="marquee-text marquee1 marqueehalf">Antarctic</div>
    </div>

    <!-- <div class="image-holder padding">
      <img src="../images/antarctic-2.png" alt="">
      <div class="marquee-text marquee1 marqueehalf">ARC</div>
    </div> -->

    <div class="image-holder padding">
      <img src="../images/antarctic-3.png" alt="">
      <div class="marquee-text marquee1 marqueehalf">Creative</div>
    </div>
  </a>

  <div class="index-text padding">
    <p>And just to shake things up, I was a partner at a Neapolitan Pizzeria based in the Lower East Side of New York City called <a href="#">Via Tribunali</a>.</p>
  </div>

  <!-- Full Img -->
  <a href="#" class="images-wrap padding full-img">
    <div class="image-holder">
      <img src="../images/pizza-1.png" alt=" ">
      <div class="marquee-text marquee1 ">Via Trib</div>
    </div>
    <div class="caption ">“More authentic than some pizzerias in Naples” &#8211; Sunset Magazine</div>
  </a>

  <div class="index-text padding">
    <p>Over the years I've worked on many other prjects including: <a href="#">Xipsy</a>, <a href="#">OAKAZINE</a>, and <a href="#">Condor</a>.</p>
  </div>

  <!-- Half Img -->
  <!-- <a href="#" class="images-wrap half padding">
    <div class="image-holder">
      <img src="https://unsplash.it/800/600" alt=" ">
      <div class="marquee-text marquee1 marqueehalf">Other Projects</div>
    </div>
    <div class="image-holder">
      <img src="https://unsplash.it/800/600" alt=" ">
      <div class="marquee-text marquee1 marqueehalf ">⊂((・▽・))⊃</div>
    </div>
  </a>

  <div class="index-text padding">
    <blockquote>
      <p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit,” &#8211; AdWeek.</p>
    </blockquote>
  </div> -->

  <div class="index-text padding">
    <p>I’ve dedicated my career to thinking about the intersection of technology + design. Above all, I build products that are thoughtful, intuitive, and engaging.</p>
  </div>

  <div class="index-text padding">
    <p>Thanks for taking a look at me. If you have something interesting you would like to discuss or are want to work together, get at me below.</p>
  </div>

  <a href="#" class="images-wrap padding full-img">
    <div class="image-holder">
      <img src="../images/thanks.gif" alt="">
      <div class="marquee-text marquee1">°˖ ✧◝(○ ヮ ○)◜✧˖ °</div>
    </div>
  </a>

</div>

{% include links.html %}

<!-- {% include scroll.html %} -->
