---
layout: default
title: Peter Humphrey
description: example description
body-class: home
---

<div id="about" class="padding">
  <!-- <p>Hi, I&#8217;m Peter. I&#8217;m a serial entrepreneur turned interactive designer / developer specializing in digital product development.</p> -->
  I'm am interactive designer / developer turned entrepreneur</span> specializing in digital product development.
</div>

<div id="works" class="index-type">

  <div id="index-text" class="indexText padding" data-color="">
    <p>My main gig is working as a Director @ <a href="#">Half Helix</a>, an interactive agency that creates + develops products for culture and commerce.</p>
  </div>

  <a href="#" class="images-wrap padding full-img">
    <div class="image-holder">
      <img src="https://unsplash.it/800/600" alt="">
      <div class="marquee-text marquee1">Half Helix</div>
    </div>
    <div class="caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
      dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
  </a>

  <div id="index-text" class="indexText padding">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
      dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>

  <a href="#" class="images-wrap padding half left-half">
    <div class="image-holder">
      <img src="https://unsplash.it/800/600" alt="">
      <div class="marquee-text marquee1 marqueehalf">lorem lorem</div>
    </div>
  </a>

  <a href="#" class="images-wrap padding half right-half">
    <div class="image-holder whereswallet">
      <img src="https://unsplash.it/800/600" alt="">
      <div class="marquee-text marquee1 marqueehalf">lorem lorem</div>
    </div>
  </a>

  <div class="indexText padding" data-color="">
    <blockquote>
      <p>“An easy to use smart wallet that’s impossible to lose” &#8211; PSFK.</p>
    </blockquote>
  </div>

  <div id="index-text" class="indexText padding" data-color="">
    <p>Prior to Half Helix, I founded and sold <a>Antarctic</a>, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
  </div>

  <a href="#" class="images-wrap padding full-img ">
    <div class="image-holder piccsy ">
      <img src="https://unsplash.it/800/600" alt=" ">
      <div class="marquee-text marquee1 ">Antarctic</div>
    </div>
    <div class="caption ">Sold in 2015    (*＾▽＾)／</div>
  </a>

  <div id="index-text" class="indexText padding" data-color=" ">
    <p>Over the years I've worked on many other prjects including, <a href="">Xipsy</a>, <a href="">OAKAZINE</a>, <a href="">FagNet</a>, <a href="">Thing</a>, <a href="">Thing</a>, and <a href="">Thing</a>.</p>
  </div>

  <a href="#" class="images-wrap padding half right-half ">
    <div class="image-holder otherprojects ">
      <img src="https://unsplash.it/800/600" alt=" ">
      <div class="marquee-text marquee1 marqueehalf ">Other Projects</div>
    </div>
  </a>

  <a href="#" class="images-wrap padding half left-half ">
    <div class="image-holder everyguyed ">
      <img src="https://unsplash.it/800/600" alt=" ">
      <div class="marquee-text marquee1 marqueehalf ">⊂((・▽・))⊃</div>
    </div>
  </a>

  <div class="indexText padding" data-color=" ">
    <blockquote>
      <p>“Wonderfully designed in the style of the original Mac OS interface” &#8211; AdWeek.</p>
    </blockquote>
  </div>

  <div id="index-text" class="indexText padding">
    <div id="extra ">
      <p>Over the last 10 years, I’ve dedicated my life to thinking about the intersection of technology + design. Above all, I build brands + products that are <span id="simplehuman "> simple and human</span>.</p>
    </div>
  </div>

  <div id="index-text" class="index-type padding">
    <div id="thanks">Thanks for taking a look at me and my work. If you have something interesting you would like to discuss or are interested in working together, get at me below.
    </div>
  </div>

</div>

{% include links.html %}

<!-- {% include scroll.html %} -->
