<div id="contact" class="index-text links-wrap">
  <div class="links-title">Say hello:</div>
  <ul class="links-list">
    <li>
      <a target="_blank " href="https://twitter.com/halfhelix">Twitter</a>
    </li>
    <li>
      <a target="_blank " href="https://www.facebook.com/peterberwind">Facebook</a>
    </li>
    <li>
      <a target="_blank " href="https://www.linkedin.com/in/peter-humphrey-01a9364b">LinkedIn</a>
    </li>
    <li>
      <a target="_blank " href="https://www.instagram.com/peterberwind/">Instagram</a>
    </li>
    <li>
      <a href="mailto:peterberwind@gmail.com ">Email</a>
    </li>
  </ul>
</div>
