.index-text {
  text-align: left;
  display: inline-block;
  width: 100%;
  overflow: hidden;

  a {
    border-bottom: 4px solid black;
  }
}

.images-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 1em;
  padding-top: 0;
  position: relative;
  margin: 0.6em auto;
}

.full-img {
  .image-holder .marquee-text {
    font-size: 7em;
  }
  width: 100%;
}

.half .image-holder {
  overflow-x: hidden;
  img {
    max-height: 520px;
  }
}

.image-holder {
  position: relative;
  height: auto;
  width: auto;
  margin-bottom: -15px;
  justify-content: center;
  max-width: 65%;
  img {
    &:first-of-type {
      position: relative;
    }
    position: absolute;
    max-width: 100%;
    top: 0;
    left: 0;
  }
}

.caption, blockquote {
  font-size: 1.4rem;
  display: inline-block;
  text-align: center;
  width: 100%;
  max-width: 100%;
  line-height: 1.25;
  font-weight: 200;
  flex-basis: 100%;
  font-family: ' Freight';
}

.index-text.indexText blockquote {
  font-size: 1.4rem;
  display: inline-block;
  min-height: 55px;
  text-align: center;
  vertical-align: top;
  padding-top: 0px;
  margin-top: 1em;
  margin-bottom: 0.6em;
  width: 100%;
  p {
    margin-top: 0;
    margin: 0;
    display: inline-block;
    max-width: 1300px;
  }
}

.caption {
  margin: 0 auto;
  margin-top: 1.4em;
}
