#contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 30px;
  a {
    cursor: url("../icons/pointright.png"), 56 10 auto;
  }
}

#sayHello {
  font-weight: Bold;
}

#thanks {
  flex-basis: 100%;
  flex-grow: 1;
}

#thanks-man {
  border-bottom: 0.07em solid black;
  cursor: url("../icons/grab.png"), auto;
}

#links-wrap {
  flex-basis: 30%;
  line-height: 1.4;
}
