.marquee {
  display: block;
  left: 0;
  position: absolute;
  top: 0;
}

.marquee2 {
  display: none;
}

.marquee-text {
  font-size: 4em;
  z-index: 100;
  color: black;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 110%;
  transform: translateY(-50%);
  mix-blend-mode: difference;
  color: #FFFF00;
}

#marquee-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#marquee-wrap {
  background: rgba(0, 0, 0, 0.9);
  position: relative;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.marquee2 {
  display: none;
}
