#title-svg svg {
  position: fixed;
  top: 50%;
  left: 50%;
  animation-name: rotateAndLeave;
  animation-duration: 3s;
  animation-iteration-count: 1;
  transform: translate(200%, -200%);
  width: 30vmax;
}

#title {
  display: inline;
  z-index: 3;
  animation: titleFadeUp 2s 1;
}
