.works-section {
  text-align: justify;
  justify-content: space-between;
  animation-duration: 3s;
  animation-name: IntroFadeIn;
  animation-iteration-count: 1; }

.works-section a {
  cursor: url("../icons/point.png"), auto; }

.works-section a:active {
    cursor: url("../icons/grab.png"), auto; }
