@import "vendor/normalize";
@import "vendor/bourbon/bourbon";
@import "grid-settings";
@import "vendor/neat/neat";

@import "syntax";

// Base
@import "base/base";


// Layouts
@import "layout/page";
@import "layout/main";

// Modules
@import "modules/footer";
@import "modules/navigation";
@import "modules/about-section";
@import "modules/works-section";
@import "modules/contact-section";

@import "modules/video";
@import "modules/scroll-up";
@import "modules/case-study";
@import "modules/content-block";
@import "modules/marquee";
@import "modules/icons";
@import "modules/title";
@import "modules/mindsweeper";

@import "modules/keyframes";


.animsition {
  overflow: hidden !important;
}



@media screen and (max-width: 575px) {
  #game, #play {
    display: none;
  }
  .full-img .image-holder .marquee-text {
    font-size: 3em;
  }
}
