@import "vendor/normalize";
@import "vendor/bourbon/bourbon";
@import "grid-settings";
@import "vendor/neat/neat";

@import "syntax";

// Base
@import "base/base";


// Layouts
@import "layout/page";
@import "layout/main";

// Modules
@import "modules/footer";
@import "modules/navigation";
@import "modules/about-section";
@import "modules/works-section";
@import "modules/contact-section";

@import "modules/video";
@import "modules/scroll-up";
@import "modules/case-study";
@import "modules/content-block";
@import "modules/marquee";
@import "modules/icons";
@import "modules/title";
@import "modules/mindsweeper";

@import "modules/keyframes";


.animsition {
  overflow: hidden !important;
}

// #circle {
//   stroke-dasharray: 0;
//   stroke-dashoffset: 800;
//   -webkit-animation-name: svg;
//   animation-name: svg;
//   fill: #ff857c;
//   -webkit-animation-duration: 4s;
//   animation-duration: 4s;
//   stroke: rgba(255, 133, 124, 0.8);
//   -webkit-animation-iteration-count: 1;
//   animation-iteration-count: 1;
// }




.aligncenter {
  display: inline-block;
  margin: auto;
}

.hide {
  opacity: 0;
}

#strat:hover #icon2 {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

#four04 {
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Fort';
}

// .back a h1 {
//   margin-top: 1em;
//   display: inline-block;
//   border-bottom: 0.07em solid black;
//   padding-bottom: 0em;
//   margin-bottom: 0em;
// }
//
//
//
// .back a {
//   cursor: url("../icons/point.png"), auto;
//
//   &:active {
//     cursor: url("../icons/grab.png"), auto;
//   }
// }

@media screen and (max-width: 1445px) {
  .half .image-holder img {
    max-height: 38.88vw;
  }
}

@media screen and (min-width: 1300px) {
  #works {
    text-align: center;
  }

  .images-wrap.right-half {
    &:nth-of-type(2n+5) {
      margin-right: 1vw;
      margin-left: 0;
      margin-bottom: auto;
    }

    margin-right: 0vw;
    margin-left: 1vw;
    margin-bottom: 0em;
  }
}

@media screen and (max-width: 1003px) {
  .half .image-holder img {
    max-height: 38.38vw;
  }
}

@media screen and (max-width: 863px) {
  .half .image-holder img {
    max-height: 37.68vw;
  }

  .mobile-done {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .half .image-holder img {
    max-height: 99999px;
    width: 100%;
  }

  .images-wrap.half {
    margin: auto auto;
    margin-top: 0.5em;
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .case-study p img:first-child {
    &:nth-last-child(2) {
      width: 100%;

      ~ img {
        width: 100%;
      }
    }

    &:nth-last-child(4) {
      width: 100%;
      text-align: center;
      vertical-align: middle;
      margin: 0 auto;

      ~ img {
        width: 100%;
        text-align: center;
        vertical-align: middle;
        margin: 0 auto;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #navbar {
    display: none;
  }

  #index {
    max-width: 100%;
    box-sizing: border-box;
  }

  #navbar {
    display: none !important;
  }

  .icon {
    display: none;
  }

  .serial {
    display: inline-block;
  }
}

@media screen and (max-width: 575px) {
  #game, #play {
    display: none;
  }
}

.each {
  display: inline-block;
  text-align: left;
  width: auto;
  font-size: 2.65em;
  line-height: 1.25;
  font-family: 'Fort';
  font-weight: normal;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.85);
}
